[Unit]
Description=Disable ACPI wakeup for %i

[Service]
ExecStart=/usr/local/bin/wakeup disable %i
Type=oneshot

[Install]
WantedBy=multi-user.target
